.aboutus-container {
  width: 75rem;
  height: 25.2rem;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .aboutus-container {
    width: 45rem;
    height: 23.2rem;
  }
}

@media screen and (max-width: 800px) {
  .aboutus-container {
    width: 35rem;
    height: 21.2rem;
  }
}

@media screen and (max-width: 600px) {
  .aboutus-container {
    width: 25rem;
    height: 18.2rem;
  }
}
